<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GitHub" value="https://nuget.pkg.github.com/damageboy/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="damageboy" />
      <add key="ClearTextPassword" value="YES_THIS_SUCKS_BALLS" />
    </GitHub>
  </packageSourceCredentials>
</configuration>
